{% extends "layout.html" %}
{% block content %}
<!-- code blocks start and end with -->
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <!-- for csrf protection -->
    {% if form.is_submitted() and form.errors|count > 0 %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <!-- {{ form.errors|count }} error(s): -->
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        {{ form[field_name].label }}: {{ error }}
                    {% endfor %}
                {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <fieldset class="mb-4">
      <h3 class="border-bottom pb-3">Join Us Today</h3>
      <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control form-control-lg") }}
      </div>
      <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control form-control-lg") }}
      </div>
      <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control form-control-lg") }}
      </div>
      <div class="mb-3">
        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password(class="form-control form-control-lg") }}
      </div>
      <div class="mb-3">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </fieldset>
  </form>
  <div class="pt-3 border-top">
    <small class="text-muted">
      Already Have an Account? <a class="ms-2" href="{{ url_for('login')}}">Sign In</a>
    </small>
  </div>
</div>
{% endblock content %}
